body {font-family: Arial, Helvetica, sans-serif}
.header-top {background-color: black;}
img[src="img/sony_logo.svg"] {
    width: 8%;
    padding-left: 0;
}
.header-top {margin-right: 0;}
@media screen and (max-width: 576px) {
    img[src="img/sony_logo.svg"] {
        width: 15%;
        padding-left: 0;
    }
}
.logo-play-new {
    width: 3em;
    height: auto;
}
.navbar-light .navbar-nav .nav-link {
    color: #000000;
    font-size: 1.2em;
    font-weight: 500;
}
.sign-in-btn {
    background-color: #363636;
    border: none;
    border-radius: 1.5em;
    font-size: 1.1em;
    font-weight: 500;
    margin: 0 1em;
}
.search {
    background-color: transparent;
    border: none;
    color: #363636;
}

.banner {width: 100%; height: 675px;}
.banner.returnal {
    background-image: url(../img/jumbo-bg.png);
    background-size: auto;
    background-position: center;
}
img[src="img/returnal-hero-banner-logo.png"] {
    width: 50%;
    height: auto;
}
.title-banner {font-size: 3em;}
.par-banner {font-size: 1.3em; font-weight: 500;}
.btn.purchase-now {
    background-color: #CD3D0F;
    color: #FFFFFF;
    font-size: 1.3em;
}